<!DOCTYPE html>
<html>
<head ng-controller="MetaInfoController">
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/components/foundation/css/normalize.css">
  <link rel="stylesheet" href="/components/foundation/css/foundation.css">
  <link rel="stylesheet" href="/components/SCEditor/minified/themes/default.min.css">
  <link rel="stylesheet" href="/components/foundation-icon-fonts/foundation-icons.css">
  <link rel="stylesheet" href="/css/main.css">
  <title ng-bind="title"><%= app.name %></title>
  <meta name="description" content="<%= app.description %>">
  <meta name="keywords" content="<%= app.keywords ? app.keywords.join(', ') : "" %>">
  <meta name="author" content="<%= ownerInfo.name %>">
  <% /* The following should be inside <head> tag! */ %>
  <% include ga.ejs %>
</head>
<body ng-controller="MainController" ng-class="{'debug-enabled': globalConfig.debugMode}">
<header class="row">
  <design-panel ng-if="user.isOwner || user.isCollaborator"></design-panel>
</header>

<div class="row">
  <div class="medium-10 push-2 columns" id="page-view">
    <application-view>
      <span translate>LOADING_DOTS</span>
    </application-view>
  </div>

  <nav class="medium-2 pull-10 columns">
    <h1><img src="/img/logo.png" style="width:90%;"></h1>
    <page-list-nav></page-list-nav>
    <b style="font-size: 14px" translate>LANGUAGE</b>
    <language-selector-nav></language-selector-nav>
  </nav>
</div>

<footer class="row">
  <div class="medium-12 columns">
    <hr>
    <div class="row">
      <div class="medium-6 columns">
        <p>&copy; <span translate>COPYRIGHT</span></p>
      </div>
    </div>
  </div>
</footer>
<div class="row">
  <logout-button ng-if="userInfo.isLoggedIn"></logout-button>
  <login-google-button ng-if="!userInfo.isLoggedIn"></login-google-button>
</div>
<!-- ES6 polyfill. Load before every other JS file -->
<script src="/js/es6-polyfill.js"></script>
<script src="/components/es6-module-loader/dist/es6-module-loader.src.js"></script>
<script src="/components/system.js/dist/system.src.js"></script>
<script>
  window.define = System.amdDefine.bind(System);
  window.require = window.requirejs = System.amdRequire.bind(System);
</script>
<script src="/js/config.js"></script>
<script>
  define('user', ['angular'], function (angular) {
    angular.module('app.user', [])
      .constant('user', <%- JSON.stringify(userInfo) %>);
  });

  define('author', ['angular'], function (angular) {
    angular.module('app.author', [])
      .constant('author', <%- JSON.stringify(ownerInfo) %>);
  });

  define('app-config', ['angular'], function (angular) {
    angular.module('app.config', [])
      .constant('appId', "<%= app.id %>")
      .constant('appName', "<%= app.name %>")
      .constant('initialConfig', {
        id: "<%= app.id %>",
        name: "<%= app.name %>",
        collaborations: <%- JSON.stringify(app.collaborations || []) %>,
        pages: <%- JSON.stringify(app.pages) || []%>,
        title: "<%= app.title %>",
        description: "<%= app.description %>",
        keywords: "<%= app.keywords %>",
        isPublished: <%= app.isPublished %>
      });
  });

  System.import('app'); // Kick-start the app!
</script>
</body>
</html>
