<!DOCTYPE html>
<html>
<head ng-controller="MetaInfoController">
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/components/foundation/css/normalize.css">
  <link rel="stylesheet" href="/components/foundation/css/foundation.css">
  <link rel="stylesheet" href="/components/SCEditor/minified/themes/default.min.css">
  <link rel="stylesheet" href="/components/foundation-icon-fonts/foundation-icons.css">
  <link rel="stylesheet" href="/css/main.css">
  <title ng-bind="title"><%=app.appName%></title>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="{{author}}">
  <% /* The following should be inside <head> tag! */ %>
  <% include ga.ejs %>
</head>
<body ng-controller="MainController" ng-class="{'debug-enabled': globalConfig.debugMode}">
<header class="row">
  <div ng-if="globalConfig.designMode" id="page-design-panel" ng-cloak>
    <h3>Design mode panel</h3>
    <button class="button tiny radius" ng-click="appConfig.submitToServer(alertAppConfigSubmissionFailed)"
            id="submitChangesToServerBtn"
            disabled
            ng-disabled="appConfig.sendingToServer || !appConfig.wasModified">
      Submit changes to server
    </button>
    <button class="button tiny radius" ng-click="appConfig.openAppSettingsDialog()" id="appSettingsBtn">
      App settings
    </button>
    <button class="button tiny radius" ng-click="appConfig.addNewPageInModal()"
            id="addNewPageBtn">
      <i class="fi-plus black"></i> Add new page
    </button>
    <button class="button alert radius tiny"
            id="deletePageBtn"
            ng-disabled="appConfig.isHomePageOpened() || appConfig.is404PageOpened()"
            disabled
            ng-click="appConfig.deletePage(appConfig.currentPageIndex())">
      Delete page
    </button>
    <hr>
  </div>
</header>

<div class="row">
  <div class="medium-10 push-2 columns" id="page-view">
    <div ui-view>
      Loading...
    </div>
  </div>

  <nav class="medium-2 pull-10 columns">
    <h1><img src="/img/logo.png" style="width:90%;"></h1>
    <ul class="side-nav">
      <li ng-repeat="page in appConfig.config.pages" ng-if="page.shortTitle">
        <a href="/app/<%=app.appName%>/{{page.href}}" ng-bind="page.shortTitle"></a>
      </li>
    </ul>
  </nav>
</div>

<footer class="row">
  <div class="medium-12 columns">
    <hr>
    <div class="row">
      <div class="medium-6 columns">
        <p>&copy; Copyright</p>
      </div>
    </div>
  </div>
</footer>
<div class="row">
  <% if (isAppOwner)  {%>
  <div>
    <h6 class="left">Design mode: &nbsp;&nbsp; </h6>
    <div class="switch tiny">
      <input type="checkbox" id="designModeCheckbox"
             ng-model="globalConfig.designMode">
      <label for="designModeCheckbox"></label>
    </div>
    <br>
    <h6 class="left">Debug mode:&nbsp;&nbsp; </h6>
    <div class="switch tiny">
      <input type="checkbox" id="debugModeCheckbox"
             ng-model="globalConfig.debugMode"
             disabled ng-disabled="globalConfig.designMode">
      <label for="debugModeCheckbox"></label>
    </div>
  </div>
  <% } %>
  <% if (user) {%>
  <div>
    <button class="button tiny alert right" ng-click="logOut()">Log out</button>
  </div>
  <% } else { %>
  <div>
    <button class="button tiny primary right" ng-click="logIn()" id="logInButton">Login with Google</button>
  </div>
  <% }%>
</div>
<!-- ES6 polyfill. Load before every other JS file -->
<script src="/js/es6-polyfill.js"></script>
<script src="/components/es6-module-loader/dist/es6-module-loader.src.js"></script>
<script src="/components/system.js/dist/system.src.js"></script>
<script>
  window.define = System.amdDefine.bind(System);
  window.require = window.requirejs = System.amdRequire.bind(System);
</script>
<script src="/js/config.js"></script>
<script>
  define('user', ['angular'], function (angular) {
    angular.module('app.user', [])
      .constant('user', <%- JSON.stringify(user || {}) %>);
  });

  define('author', ['angular'], function (angular) {
    angular.module('app.author', [])
      .constant('author', <%- JSON.stringify(ownerInfo) %>);
  });

  define('app-config', ['angular'], function (angular) {
    angular.module('app.config', [])
      .constant('appName', "<%= app.appName %>")
      .constant('initialConfig', <%- JSON.stringify(app.config) %>);
  });

  System.import('app'); // Kick-start the app!
</script>
</body>
</html>
